
div{
  width: 200px;
  height: 200px;
  background-color: red;
  border-radius: 100%;
  border: 20px groove blue;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("pup.png");
}
